a {
    color: #EEAC4E;
}
a:hover {
    color: #0B8D73;
}

/*
Generic classes
*/
.inline {
    display: inline-block;
}
.page {
    background: #fbfbfb;
    min-height: 900px;
    padding-bottom: 80px;
}
.yellow {
    color: #FCE54A;
}
.orange {
    color: #EEAC4E;
}
.green {
    color: #054135;
}
.red {
    color: red;
}
.outer-container {
    border: 1px solid #fbe8d0;
}
.center {
    text-align: center;
}
.small {
    padding-right: 10px;
}
.nomargin {
    margin: 0;
}
/*
toggle hidden classes
*/
#fixcomment, .togglereplycomment, .replies, .fixComments, #hide, #changepw, #newAvatar, #formEditEmail, #formEditUsername {
    display: none;
}

/*
Other classes
*/
.comment-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #fdf4e8;
}
.comment-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.userinfo {
    width: 50%;
}
.vote {
    text-align: right;
    width: 50%;
}
.comment-avatar {
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #fbe8d0;
}
.gamecomment {
    width: 70%;  
}
.reply {
    width: 20%;
    text-align: right;
    padding-right: 5px;
}
.reply a {
    color: #002921;
}
.reply a:hover {
    color: #054135;
}
input[type=number] {
    background-color: transparent;
    border: none;
    width: 30px;
}
.username, .commrep, .date {
    padding-left: 5px;   
}
.username {
    font-weight: bold;
}
.commrep {
    font-style: italic;
    font-size: 14px;
}
.date {
    font-size: 11px;
}
.replies {
    width: 90%;
    margin-left: 10%;
    border-top: 1px solid #ccfff5;
}
.replies .comment-top {
    background-color: #e6fffa;
}
.comment {
    width: 70%;
}
.gamevote {
    background-color: #054135;
    padding: 20px 15px;
    margin: 15px -15px;
}
.tab {
    border-radius: 15px 15px 0px 0px;
    width: 200px;
    color: black;
    border: none;
    border-bottom: 1px solid #fbe8d0;
}
.tab:hover {
    font-size: 16.5px;
    border-left: 1px groove #fbe8d0;
    border-right: 1px groove #fbe8d0;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}
#tabone {
    background: #FCE54A;
}
#tabtwo {
    background: #EEAC4E;
}
.fix {
    background-color: #fbe8d0;
}
.content-center {
    background: white;
    position: fixed;
    width: 30%;
    top: 50%;
    left: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 3%;
    -webkit-box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
            box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}
.pure-form input[type=checkbox] {
    width: 5%;
}
.pure-menu-item, .pure-menu-list {
    z-index: 1;
}
.pure-form legend {
    font-size: 1.2em;
    border-bottom: 1px solid black;
}
#gamelist {
    list-style-type: none;
    margin-top: 1%;
}
#gamelist li a {
    color: #054135;
}
#gamelist li a:hover {
    color: #EEAC4E;
}
div#viewUsers {
    display: none;
}
.usercomments {
    margin-bottom: 3px;
}
.col1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    
}
.col2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
}
.col3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    border-right: 1px solid darkgrey;
}
.col1, .col2, .col3 {
    border-left: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}
.col1 p, .col2 p, .col3 p {
    padding-left: 3px;
}
.row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 30% 20%;
        grid-template-columns: 50% 30% 20%;
    background-color: white;
    margin-bottom: 0;
}
.tablehead {
    background-color: #EEAC4E;
}
.tablehead h3 {
    padding: 0;
    padding-left: 1%;
}
.status {
    background-color: #EEAC4E;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-right: 3px;
    margin-left: 1%;
}
.status:hover {
    background-color:  #FCE54A;
}
.avatar-profile {
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 3px;
    border: 2px solid grey;
    margin: 2px 0px 2px 2px;
}
#upper-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.avatar-button {
    margin-top: 5px;
    background-color: #EEAC4E;
    border: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-transition-duration: 0.4s; /* Safari */
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.avatar-button:hover {
    background-color:  #FCE54A;
    color: #002921;
}
#avatar-profile-container {
    width: 160px;
    height: 130px;
    -ms-flex-line-pack: center;
        align-content: center;
    border: 1px solid #EEAC4E;
    padding: 5px;
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
            box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    margin-bottom: 5px;
}
#reputation {
    width: 270px;
    height: 130px;
    padding-left: 5px;
    -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
            box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    border: 1px solid #EEAC4E;
}
#changepw {
    width: 430px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border: 1px solid #EEAC4E;
}
#newAvatar {
    width: 430px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border: 1px solid #EEAC4E;
}
.pure-button-group {
    letter-spacing: normal;
}
input[type=number] {
    -moz-appearance: textfield;
} 
.recover-form {
    width: 30%;
}
.terms_register {
    width: auto;
    height: 150px;
    overflow-y: auto;
    border: 1px solid lightgrey;
    margin: 5px;
    padding-left: 3px;
}
.terms_register p {
    font-size: 10px;
    margin: 1px;
    line-height: 1.1em;
}
.terms p {
    font-size: 12px;
}
@media (max-width: 1230px) {
    .content-center {
        width: 50%;
    }
}
@media (max-width: 730px) {
    .content-center {
        width: 80%;
    }
}
@media (max-width: 600px) {
    .content-center {
        width: 98%;
    }
    .tab {
        width: 150px;
    }
    .userinfo {
        width: 65%;
    }
    .vote {
        width: 35%;
    }
    .gamecomment {
        width: 65%;
    }
    .reply {
        width: 25%;
    }
}
@media (max-width: 650px) {
    img.avatar {
        width: 30px;
    }
}
#details {
    width: 100%;
}
.library_info {
    background-color: #002921;
    margin-right: -15px;
    margin-left: -15px;
    padding: 1%
}
.library_info h4 {
    color: white;
}
.library_info h5 {
    color: #EEAC4E;
}
.game-button {
    margin-bottom: 1%;
}
.blogs_container {
    border-bottom: 1px solid #EEAC4E;
    padding-left: 20px;
    transition: background-color 0.7s ease;
    margin-bottom: 0.5%;
}
.blogs_container a {
    color: #002921;
}
.blogs_container:hover {
    background-color: #EEAC4E;
    text-decoration: none;
}
.blogs_container a:hover {
    text-decoration: none;
}
.signature {
    font-style: italic;
}
.blog_date {
    background-color: #002921;
    color: white;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
}
.author {
    margin-top: 5%;
}
.blog_outer {
    display: flex;
    border-bottom: 1px solid #EEAC4E;
    padding-bottom: 1%;
    margin-bottom: 0.5%;
}
.blog_titles {
    width: 80%;
}
.blog_image {
    width: 20%;
}
.recent {
    border-bottom: 1px solid #EEAC4E;
    text-align: center;
    margin-top: 0.8%;
}
span.userpage {
    display: inline-block;
    width: 80px;
}
input.userpageinput {
    width: 300px;
}
.comments {
    width: 70%;
}
.authoredit {
    font-style: italic;
    font-size: 12px;
    color: #EEAC4E;
}