.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
    color: white;
}
.content-center {
    background: white;
    position: fixed;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}
.content-center .pure-button {
    background-color: #002921;
}

.pure-form legend {
    font-size: 1.2em;
    border-bottom: 1px solid black;
}
.pure-form input[type=checkbox] {
    width: 5%;
}
.game-page {
    padding-top: 80px;
    margin: 0 auto;
    background: rgba(255,255,255,0.4);
    width: 70%;
    min-height: 1000px;
}
.game-page h1 {
    text-shadow: 1px 2px 2px rgba(238,172,78,0.8);
    padding-top: 2%;
}
.game-page h1, .game-page h2 {
    padding-left: 1%;
}
.game-page h2 a {
    color: #054135;
    padding: 0.5%;
}
.game-page h2 a:hover {
    color: #EEAC4E;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.game-page ul {
    list-style-type: none;
}
.game-page li a {
    color: #054135;
}
.game-page li a:hover {
    color: #EEAC4E;
}
.gamevote {
    padding: 1%;
/*    background-color: #fbfbfb;*/
    text-align: center;
    width: 300px;
}
.gamevote p {
    font-family: 'Source Sans Pro', sans-serif;
}
.inline {
    display: inline-block;
}
.game-button a {
    color: white;
    text-decoration: none;
}
input.game[type=number] {
    background-color: transparent;
    padding-left: 1%;
}
.comment-container {
    width: 100%;
    margin: 1%;
    font-family: 'Source Sans Pro', sans-serif;
/*    font-family: 'Roboto Condensed', sans-serif;*/
/*    letter-spacing: 1px;*/
}
.comments {
    width: 100%;
}
.tabs {
    display: grid;
    grid-template-columns: 19.5% 19.5% 61%;
}
.tab {
    border-radius: 15px 15px 0px 0px; 
/*    background: #EEAC4E;*/
    color: black;
/*    padding: : 0.5em;*/
/*    padding: 0.5em 1.9em;*/
    border: none;
    border-bottom: 1px solid lightgrey;
}
a {
    color: #054135;
}
a:hover {
    color: #0B8D73;
}
a.yellow {
    color: #FCE54A;
}
a.yellow:hover {
    color: #EEAC4E;
}
#tabone {
    background: #FCE54A;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.tab:hover {
    font-size: 16.5px;
    border-left: 1px groove grey;
    border-right: 1px groove grey;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}

#tabtwo {
    background: #EEAC4E;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.comment-inner {
    width: 98%;
/*    min-height: 800px;*/
    margin-top: 0;
    padding 0.5em;
}
#fixcomment {
    display: none;
}

.databaseComments {
    width: 100%;
    margin: 0;
    padding: 0;
/*    min-height: 100px;*/
    display: grid;
    grid-template-columns: 20% 20% 43% 17%;
/*    border: 1px solid grey;*/
    margin-bottom: 5px;   
}
.userinfo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 1%;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #F7FBF5;
/*    background-color: rgba(216, 159, 80, 0.8);*/
/*    background-color: rgba(251, 233, 73, 0.8);*/
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 2px;
}

.entry1 {
    border-top-left-radius: 0px;
}
.actualcomment {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #fbfbfb;
    margin-bottom: 2px;
}
.vote {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 5px;
    background-color: #fbfbfb;
    border-top-right-radius: 5px;
}
.reply {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: #fbfbfb;
    border-bottom-right-radius: 5px;
    margin-bottom: 2px;
}
.togglereplycomment {
    display: none;
    grid-column-start: 2;
    grid-column-end: 4;
}
.togglereplycomment.left {
    grid-column-start: 1;
    grid-column-end: 4;
}
.replies {
    grid-column-start: 1;
    grid-column-end: 5;
    display: none;
    grid-template-columns: 20% 20% 43% 17%;
    
}
.fixcomment {
    grid-column-start: 1;
    grid-column-end: 5;
    display: none;
    grid-template-columns: 20% 20% 43% 17%;
/*    grid-area: auto; */
}
.userinfo2 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 1%;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #F7FBF5;
/*    background-color: rgba(251, 233, 73, 0.8);*/
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 2px;
}
.actualcomment2 {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 1%;
    padding-right: 1%;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #fbfbfb;
    margin-bottom: 2px;
    
}
.vote2 {
    grid-column-start: 4;
    grid-column-end: 5;
    padding-left: 1%;
    background-color: #fbfbfb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2px;
}
.userinfo3 {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 1%;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #F7FBF5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 2px;
}
.actualcomment3 {
    grid-column-start: 2;
    grid-column-end: 4;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #fbfbfb;
    margin-bottom: 2px;
}
.vote3 {
    grid-column-start: 4;
    grid-column-end: 5;
    padding-left: 5px;
    background-color: #fbfbfb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2px;
}
.fix {
    display: grid;
    grid-template-columns: 83% 17%;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2px;
    background-color: #fbfbfb;
    
}
.userinfofix {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
/*    background-color: white;*/
    font-weight: bold;
    border-top-left-radius: 5px;
}
.votefix {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
/*    background-color: white;*/
    border-top-right-radius: 5px;
/*    text-align: right;*/
}
.actualfix {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
/*    background-color: white;*/
    padding-left: 10px;
    font-size: 20px;
    
}
.replyfix {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
/*    background-color: white;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
}
#welcome, #welcome:hover {
    text-decoration: none;
    color: #FCE54A;
}
.pure-button.thumbs {
    background-color: #054135;
    padding: 2px 5px;
    margin-left: 5px;
}
.pure-button.thumbs:hover {
    background-color: #EEAC4E;
}
#game_thumbs {
    margin-bottom: 1em;
}
.game-button button {
    margin-top: -20px;
    padding: 0.5em 1em;
}
.game-button {
    margin-top: -20px;
}
.games_message {
    background-color: #FCE54A;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    border-radius: 15px;
}
.commrep {
    color: #EEAC4E;
    font-size: 12px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
}
.fixrep {
    color: #055A57;
    font-size: 12px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
}
.username {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    padding-left: 3px;
    vertical-align: bottom;
    letter-spacing: 0.5px;
}
.date {
    font-size: 12px;
    color: #054135;
    padding-left: 15px;
}
.addcomment {
    margin-bottom: 200px;
}
.green {
    color: #054135;
    padding-right: 2px;
}
.orange {
    color: #EEAC4E;
    padding-right: 2px;
}
.red {
    color: red;
}
.view {
    margin-left: 10px;
}
#loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}
#pageloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #054135;
    z-index: 1;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 16px solid #EEAC4E;
    border-top: 16px solid #002921;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#viewUsers {
    display: none;
}
.usercomments {
    margin-bottom: 3px;
}
.col1 {
    grid-column-start: 1;
    grid-column-end: 2;
    
}
.col2 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.col3 {
    grid-column-start: 3;
    grid-column-end: 4;
    border-right: 1px solid darkgrey;
}
.col1, .col2, .col3 {
    border-left: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}
.col1 p, .col2 p, .col3 p {
    margin: 0;
    padding-left: 3px;
}
.row {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    background-color: white;
    margin-bottom: 0;
}
.tablehead {
    background-color: #EEAC4E;
}
.tablehead h3 {
    padding: 0;
    margin: 0;
    padding-left: 1%;
}
#hide {
    display: none;
}
.richText .richText-editor {
    height: 150px;
}
#stats {
    background-color: white;
    width: 200px;
}
.index {
    font-size: 25px;
}

input[type=number] {
    border: none;
    width: 50px;
    background-color: #fbfbfb;
}
.avatar-profile {
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 3px;
    border: 2px solid grey;
    margin: 2px 0px 2px 2px;
}
.avatar {
    width: 25px;
    height: 25px;
    padding: 2px;
    border: 1px solid grey;
    margin: 2px 0px 2px 2px;
}
#newAvatar {
    display: none;
    background: rgba(255,255,255,0.5) ;
    width: auto;
}
#upper-profile {
    display: grid;
    grid-template-columns: 50% 50%;
}
#avatar-profile-container {
    width: 160px;
    height: 130px;
    text-align: center;
    align-content: center;
    border: 1px solid #EEAC4E;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-bottom: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
}
#reputation {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #fbfbfb;
    width: 270px;
    height: 130px;
    padding-left: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.avatar-button {
    margin-top: 5px;
    background-color: #EEAC4E;
    border: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.avatar-button:hover {
    background-color:  #FCE54A;
    color: #002921;
}
#changepw {
    display: none;
    background-color: #fbfbfb;
    width: 30%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.status {
    background-color: #EEAC4E;
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-right: 3px;
    margin-left: 1%;
}
.status:hover {
    background-color:  #FCE54A;
}

